.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  font-size: 5vh;
  line-height: 5vh;
  width: 80px;
  height: 50px;
  text-align: center;
  top: 8%;
  right: 8%;
}
